@import '../../../../@theme/styles/themes';

@include nb-install-component() {
  .full-width {
    flex: 1;
    min-width: 220px;
  }

  nb-checkbox {
    margin-bottom: 1rem;
  }

  .eva-icon-container {
    @include nb-rtl(right, auto);
    @include nb-rtl(left, 0);

    cursor: pointer;
    fill: nb-theme(card-fg-text);
    margin-right: 0.8em;
    padding: 1.5rem;
    position: absolute;
    right: 0;
    top: 0;
  }

  .form-inline > * {
    @include nb-ltr(margin, 0 1.5rem 1.5rem 0);
    @include nb-rtl(margin, 0 0 1.5rem 1.5rem);
  }

  nb-card.inline-form-card nb-card-body {
    padding-bottom: 0;
  }
  nb-tabset {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  nb-tab {
    height: 100%;
    padding: nb-theme(padding);
  }

   /deep/ ngx-tab1,
   /deep/ ngx-tab2 {
    display: block;
    padding: nb-theme(padding);
  }
}
