:host {
  align-items: center;
  display: flex;

  i.control-icon {
    &::before {
      font-size: 2.3rem;
    }

    &:hover {
      cursor: pointer;
    }
  }

  input {
    border: none;
    margin-left: 1rem;
    outline: none;
    transition: width 0.2s ease;
    width: 15rem;

    &.hidden {
      margin: 0;
      width: 0;
    }
  }

   /deep/ search-input {
    input {
      background: transparent;
    }
  }
}
