@import '../../styles/themes';

@include nb-install-component() {
  h6 {
    margin-bottom: 0.5rem;
  }

  .settings-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 1rem;
    width: 90%;

    a {
      @include nb-for-theme(cosmic) {
        &.selected {
          color: nb-theme(link-color);
        }
      }

      color: nb-theme(color-fg);
      font-size: 2.25rem;
      text-decoration: none;

      &.selected {
        color: nb-theme(color-success);
      }
    }
  }

  .settings {
    margin-bottom: 1em;
  }

  .switcher {
    margin-bottom: 1rem;

     /deep/ ngx-switcher {
      @include nb-for-theme(cosmic) {
        .switch .slider {
          background-color: nb-theme(color-bg);
        }
      }
      .switch-label span {
        font-size: 1em;
        font-weight: normal;
      }

      .switch {
        height: 1.5em;
        width: 3em;

        .slider::before {
          height: 1.5em;
          width: 1.5em;
        }

        input:checked + .slider::before {
          @include nb-ltr(transform, translateX(1.5rem)!important);
          @include nb-rtl(transform, translateX(-1.5rem)!important);
        }
      }
    }
  }
}
