.flex-centered {
  margin: auto;
}

nb-card-body {
  display: flex;
}

.title {
  text-align: center;
}

.sub-title {
  display: block;
  font-size: large;
  margin-bottom: 3rem;
  text-align: center;
}

.btn {
  margin-bottom: 2rem;
}
