@import '../../../styles/themes';
@import '~@nebular/theme/styles/core/mixins';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';

$icon-color-default: #0bbb79;
$icon-color-cosmic: #7958fa;
$icon-color-corporate: #a7a2be;

$icon-top-color-default: #01dbb5;
$icon-top-color-cosmic: #a258fe;
$icon-top-color-corporate: #e9e8eb;

@include nb-install-component() {
  @include media-breakpoint-down(is) {
     /deep/ .themes-switcher-list {
      display: none;
    }
  }
   /deep/ .themes-switcher-list {
    @include nb-ltr(text-align, start);
    @include nb-rtl(text-align, end);

    margin: 0;
    padding: 1rem 2rem 1.25rem 0.5rem;

    .themes-switcher-item {
      cursor: pointer;
      list-style: none;

      &:hover span {
        opacity: 0.5;
      }

      i {
        font-size: 2rem;

        &.drop-icon-default {
          // Hack for IE11, IE11 should not set background
          background: -webkit-linear-gradient($icon-top-color-default, $icon-color-default);
          color: $icon-color-default;
        }

        &.drop-icon-cosmic {
          // Hack for IE11, IE11 should not set background
          background: -webkit-linear-gradient($icon-top-color-cosmic, $icon-color-cosmic);
          color: $icon-color-cosmic;
        }

        &.drop-icon-corporate {
          // Hack for IE11, IE11 should not set background
          background: -webkit-linear-gradient($icon-top-color-corporate, $icon-color-corporate);
          color: $icon-color-corporate;
        }

        &.drop-icon-default,
        &.drop-icon-cosmic,
        &.drop-icon-corporate {
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      span {
        color: nb-theme(color-fg-heading);
        font-weight: 300;
        padding-left: 1rem;
        vertical-align: super;
      }
    }
  }
}
