@import '../../../@theme/styles/themes';
@import '~@nebular/theme/styles/global/bootstrap/buttons';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }
}

.hide-action td.ng2-smart-actions {
  display: none;
}

:host /deep/ .cell_success {
  color: greenyellow;
}

:host /deep/ .cell_fail {
  color: deeppink;
}
