<div class="row">
  <div class="col-md-12">
    <nb-card>
        <nb-card-header>交易所配置</nb-card-header>
        <nb-card-body>
          <form>
            <div class="row">
              <div class="col-md-12 col-lg-12">
                <nb-card size="xsmall">
                  <nb-tabset>
                    <nb-tab tabTitle="真实交易">
                      <div class="form-group row">
                        <label for="inputAmount" class="col-sm-3 col-form-label">apiKey</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputAmount" placeholder="apiKey">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputLeverage" class="col-sm-3 col-form-label">secret</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputLeverage" placeholder="secret">
                        </div>
                      </div>
                    </nb-tab>
                    <nb-tab tabTitle="模拟交易">
                      <div class="form-group row">
                        <label for="inputAmount" class="col-sm-3 col-form-label">apiKey</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputAmount" placeholder="apiKey">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputLeverage" class="col-sm-3 col-form-label">secret</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputLeverage" placeholder="secret">
                        </div>
                      </div>
                    </nb-tab>
                  </nb-tabset>
                </nb-card>
              </div>
            </div>
            <div class="form-group row">
              <label for="inputSide" class="col-sm-3 col-form-label">运行模式</label>
              <div class="col-sm-9">
                  <div [(ngModel)]="radioModel" ngbRadioGroup name="radioSide"
                       class="btn-group btn-group-toggle btn-outline-toggle-group btn-group-full-width btn-toggle-radio-group">
                    <label ngbButtonLabel class="btn btn-outline-primary">
                      <input ngbButton type="radio" value="buy"> 真实交易
                    </label>
                    <label ngbButtonLabel class="btn btn-outline-primary">
                      <input ngbButton type="radio" value="sell"> 模拟交易
                    </label>
                  </div>
              </div>
            </div>
          </form>
        </nb-card-body>
      </nb-card>
  </div>
</div>
