<div class="subcard">
  <div class="size-container">
      <div class="dropdown" ngbDropdown>
          <button class="btn btn-primary" type="button" ngbDropdownToggle>
            {{ actions.symbol }}
          </button>
          <ul class="dropdown-menu" ngbDropdownMenu>
            <li class="dropdown-item" *ngFor="let s of symbols" (click)="actions.symbol = s">{{ s }}</li>
          </ul>
      </div>
  </div>
  <div class="size-container">
      <div class="dropdown" ngbDropdown>
          <button class="btn btn-primary" type="button" ngbDropdownToggle>
            {{ actions.resolution.name }}
          </button>
          <ul class="dropdown-menu" ngbDropdownMenu>
            <li class="dropdown-item" *ngFor="let r of resolutions" (click)="actions.resolution = r">{{ r.name }}</li>
          </ul>
      </div>
  </div>
  <div class="size-container">
    <div [(ngModel)]="radioSide" ngbRadioGroup name="side" class="btn-group btn-group-toggle btn-outline-toggle-group btn-group-full-width btn-toggle-radio-group">
      <label ngbButtonLabel class="btn btn-outline-primary">
        <input ngbButton type="radio" value="Buy" name="Buy"> 买入
      </label>
      <label ngbButtonLabel class="btn btn-outline-primary">
        <input ngbButton type="radio" value="Sell" name="Sell"> 卖出
      </label>
    </div>
  </div>
  <div class="size-container">
      <button type="button" class="btn btn-success btn-block" (click)="launch()">回测</button>
  </div>
</div>
