@import '../../../@theme/styles/themes';
@import '~@nebular/bootstrap/styles/buttons';

@include nb-install-component() {
  .subcard {
    display: flex;
    flex-wrap: wrap;
    padding: 0 1.25rem 1.25rem 0;
    font-size: 1rem;
    line-height: 1.25;
    background: #3d3780;
    color: #d1d1ff;
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;
    -webkit-box-shadow: 0 8px 20px 0 rgba(40, 37, 89, 0.6);
    box-shadow: 0 8px 20px 0 rgba(40, 37, 89, 0.6);
    font-weight: 400;
    border: 0 solid #3d3780;
    scrollbar-face-color: #554db3;
    scrollbar-track-color: #332e73;
  }

  .container-title {
    margin-bottom: 0.25rem;
  }

  .dropdown-menu {
    position: absolute;
  }

  .size-container {
    margin: 1.25rem 0 0 1.25rem;
  }

  .subheader {
    color: nb-theme(color-fg-heading);
    font-size: 0.875rem;
    font-weight: nb-theme(font-weight-bolder);
    margin-bottom: 0.75rem;
  }
}
