<nb-card>
  <nb-card-body>
    <div class="size-container">
        <div class="dropdown" ngbDropdown>
            <button class="btn btn-primary" type="button" ngbDropdownToggle>
              {{ actions.symbol }}
            </button>
            <ul class="dropdown-menu" ngbDropdownMenu>
              <li class="dropdown-item" *ngFor="let s of symbols" (click)="actions.symbol = s">{{ s }}</li>
            </ul>
        </div>
    </div>
    <div class="size-container">
        <div class="dropdown" ngbDropdown>
            <button class="btn btn-primary" type="button" ngbDropdownToggle>
              {{ actions.resolution.name }}
            </button>
            <ul class="dropdown-menu" ngbDropdownMenu>
              <li class="dropdown-item" *ngFor="let r of resolutions" (click)="actions.resolution = r">{{ r.name }}</li>
            </ul>
        </div>
    </div>
    <div class="size-container">
        <button type="button" class="btn btn-success btn-block" (click)="launch()" [disabled]="isStarted">{{statusName}}</button>
    </div>
    <div class="size-container">
        <button type="button" class="btn btn-danger btn-block" (click)="launch()" [disabled]="isStarted == false">停止</button>
    </div>
    <ngx-countdown #countdown></ngx-countdown>

<button (click)="stop1()" class="btn btn-link btn-sm">stop</button>
<button (click)="restart1()" class="btn btn-link btn-sm">restart</button>
    <!--

    <ngx-countdown [config]="{leftTime: 45, demand: true}" #cd1 (event)="cd1.onEvent($event)"></ngx-countdown>
<button (click)="cd1.pause()" class="btn btn-link btn-sm">pause</button>
<button (click)="cd1.resume()" class="btn btn-link btn-sm">resume</button>
<button (click)="cd1.stop()" class="btn btn-link btn-sm">stop</button>
<button (click)="cd1.restart()" class="btn btn-link btn-sm">restart</button>
    -->
  </nb-card-body>
</nb-card>
